.reset-password-container {
    min-height: calc(100vh - 64px);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 20px;
    box-sizing: border-box;
  }
  
  .reset-password-card {
    width: 100%;
    max-width: 450px;
  
    padding: 20px;
    border-radius: 16px;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  
    margin-top: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-card-actions {
    padding: 8px 16px 16px;
  }
  
  button {
    width: 100%;
  }