<!--PAGE POUR AFFICHER LE FORMULAIRE D'AJOUT DE MUSIQUE-->

<!--Code pour ajouter une image à la musique-->

<div class="form">
  @if(selectedImageFile){
    <p>{{selectedImageFile.name}}</p>
  }
  <div class="card" data-bs-theme="light">

    <div class="add_music">
        <input #fileImageInput type="file" hidden (change)="onSelectedImageFile($event)">

          <input
          #fileInput
          type="file"
          hidden
          accept="audio/*"
          (change)="onFileSelected($event)"
        >
        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <input matInput readonly [value]="selectedImageFile?.name ?? ''" placeholder="Aucun fichier sélectionné">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Musique</mat-label>
          <input
            matInput
            readonly
            [value]="selectedFile?.name ?? ''"
            placeholder="Aucun fichier sélectionné"
          >
        </mat-form-field>

        @for (category of category; track category.id) {
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [value]="category.id" (click)="onCheckBoxValidate($event)">
            <label class="form-check-label" for="checkDefault">
              {{category.name}}
            </label>
          </div>
        }



        <button mat-raised-button (click)="fileImageInput.click()" type="button">Ajoutez une image</button>

        @if (selectedFile) {
            <button mat-raised-button type="button" (click)="sendRequest()">Enregistrez la musique</button>
        }
        @else {
            <button
            mat-raised-button
            type="button"
            (click)="fileInput.click()"
          >
            Choisir une musique
          </button>
        }
    </div>
        
  </div>
</div>

