<!-- @if(successDeleteMessage()){
    <p>{{successDeleteMessage()}}</p>
} -->
<table mat-table [dataSource]="AllMusic" class="mat-shadow-2">
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let music"> {{music.title}}</td>
    </ng-container>
    
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duré</th>
        <td mat-cell *matCellDef="let music"> <p>{{minutes}} min {{secondes}} sec</p></td>
    </ng-container>
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Catégorie</th>
        <td mat-cell *matCellDef="let music"> {{music.category}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        @if(user()){
            <td mat-cell *matCellDef="let music">
                <button mat-button (click)="viewMusic(music.id)">Afficher la musique</button>
                <!-- <button mat-button>Modifier</button> -->
                <button mat-button (click)="deleteMusic(music.id)">Supprimer</button>

            </td>
        }
        <button>Afficher la musique</button>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

