<!-- AFFICHE TOUTES LES MUSIQUES PEU IMPORTE LEUR CATÉGORIE -->
<div class="display_music">

  <button mat-raised-button [matMenuTriggerFor]="menu">Filtrer les musiques</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="filterMusicByLike()">Les musiques les plus like</button>
    <button mat-menu-item (click)="filterMusicByDownload()">Les musiques les plus télécharger</button>
  </mat-menu>

  @for (music of AllMusic; track music.id) {

    <mat-card class="music-card" appearance="outlined">

      @if (music.image_file) {
        <img
          mat-card-image
          [src]="'http://localhost:8000' + music.image_file"
          [alt]="music.title"
          class="music-image"
        >
      } @else {
        <div class="no-image">
          <mat-icon>music_note</mat-icon>
          <span>Aucune image</span>
        </div>
      }

      <mat-card-header>
        <mat-card-title>
          {{ music.title }}
        </mat-card-title>

        <mat-card-subtitle>
          @for (category of music.category; track category.id) {
            <span class="category">
              {{ category.name }}
            </span>
          }
        </mat-card-subtitle>
        <mat-card-subtitle>
          <button mat-button class="like-bottom" (click)="addFavoritesMusic(music.id)">
            @if(music.isFavorites == true){ <mat-icon class="favorite">favorite</mat-icon>}
            @else{
                <mat-icon>favorite_border</mat-icon>
            }
            <span>{{music.countLike}}</span>
        </button>
          
        </mat-card-subtitle>
        <mat-card-subtitle>
          <button mat-button class="like-bottom" (click)="addDownloadMusic(music.id)">
            <mat-icon>get_app</mat-icon>
            <span>{{music.countDownload}}</span>
          </button>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions class="actions">

        <button
          mat-button
          (click)="viewMusic(music.id)"
        >
          Afficher
        </button>

        @if (user()) {
          <button
            mat-button
            (click)="openDialog(music.id)"
          >
            Modifier
          </button>

          <button
            mat-button
            (click)="deleteMusic(music.id)"
          >
            Supprimer
          </button>
        }

      </mat-card-actions>

    </mat-card>

  }

</div>