
<ng-container>
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput type="text" [(ngModel)]="usernameInput">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput type="text" [(ngModel)]="last_nameInput">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="emailInput">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="passwordInput">
        </mat-form-field>
    </mat-dialog-content>
    <button (click)="sendRequestRegister()">Se connecter</button>
</ng-container>
