@if (
  successMessage()
) {
  <p class="success-message">{{ successMessage() }}</p>
}
@if (user(); as currentUser) {
  <div class="info-user">
    <h6>Mes informations</h6>

    <mat-card>

      <mat-card-content>
        <p>Prénom : {{ currentUser.username }} </p>
        <p>Nom : {{ currentUser.last_name }}  </p>
        <p>Email : {{ currentUser.email }} </p>
        <button mat-button (click)="openDialog()">Modifier</button>
      </mat-card-content>
    </mat-card>
  </div>
    
  } @else {
    <p>Chargement...</p>
  }