.info-user {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 40px;
}

mat-card {
  width: 90%;
  max-width: 900px;
  background-color: whitesmoke;
  padding: 20px;
}

mat-card-content p {
  margin-bottom: 15px;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}