<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- @if ( isLogged) {

      } -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="ouvrirFormulaireLogin()">Connexion</a>
          </li> -->
          @if (isLogged()) {
            <!-- @if(isStaff()) {
              <a href="">AdminDashboard</a>
               
            } -->
            <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Ouvrir le menu utilisateur">
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
              @if (isStaff()) {
                <button mat-menu-item (click)="openBottomSheet()">
                  <mat-icon>dashboard</mat-icon>
                  <span>AdminDashboard</span>
                </button>
              }
                <button mat-menu-item routerLink="/get_all_music">
                  <mat-icon>music_video</mat-icon>
                  <span>Musiques</span>
                </button>

                <button mat-menu-item routerLink="/favorites">
                  <mat-icon>favorite</mat-icon>
                  <span>Favoris</span>
                </button>
                <button mat-menu-item routerLink="/user-account">
                  <mat-icon>account_circle</mat-icon>
                  <span>Mon compte</span>
                </button>
                <button mat-menu-item routerLink="/parametres">
                  <mat-icon>settings</mat-icon>
                  <span>Paramètres</span>
                </button>
            </mat-menu>
            <button mat-button (click)="logout()">Déconnexion</button>
          } @else {
            <button mat-button (click)="ouvrirFormulaireLogin()">Connexion</button>
            <button mat-button (click)="ouvrirFormulaireRegister()">Inscription</button>
          }
          
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="text" placeholder="Search"  matInput  [formControl]="searchControl" (focus)="sendRequest()"[matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectMusic($event)">
            @for(music of fileteredMusic | async; track music.id){
                <mat-option [value]="music">{{music.title}}</mat-option>
            }
          </mat-autocomplete>
          <button class="btn btn-outline-success">Search</button>
        </form>
      </div>
    </div>
  </nav>
