<!--AFFICHE LES INFORMATION D'UNE SEULE MUSIQUE-->
<div class="pageInfo">
    <mat-card class="card" appearance="outlined">
        <mat-card-header>

            <mat-card-title>{{ infoMusic?.title }}</mat-card-title>
        </mat-card-header>
        <img [src]="'http://localhost:8000' + infoMusic?.image_file" alt="">
        <div class="infoMusic">
            <mat-card-content>
                <p>Durée: {{ minutes }} min {{ seconds }} sec</p>
        
                <p><strong>Catégories:</strong>
                    @for(category of infoMusic?.category; track category.id) {
                        <p> {{category?.name}}</p>
                    }
                </p>
                <p>Taille du fichier: {{ size }} MO</p>

                <p>Like: {{infoMusic?.countLike}}</p>

                <p>Nombre de téléchargement: {{infoMusic?.countDownload}}</p>
            </mat-card-content>
            
                <mat-card-content class="actions">
                    <audio #audioOption [src]="'http://localhost:8000' + infoMusic?.file">
                        <!-- <source [src]="'http://localhost:8000' + infoMusic?.file" type="audio/mp3"> -->
                    </audio>
                    @if(playMusic()){
                        <button mat-button (click)="stopAudioPlayer()">Stopper la musique</button>
                    }
                    @else {
                        <button mat-button (click)="onAudioPlayer()">Lire la musique</button>
                    }
                    @if(infoMusic){
                        <button mat-button (click)="downloadMusic(infoMusic.id)">Télécharger la musique</button>
                        <button mat-button (click)="addFavorite(infoMusic.id)">
                            @if(isFavorite() == true){<mat-icon style="color: red;">favorite</mat-icon> }
                            @else{
                                <mat-icon>favorite_border</mat-icon>
                            }
                        </button>
                    }
                    
                </mat-card-content>
            
            
        </div>
        
    </mat-card>
    
</div>

