<div class="favorite-page">

    <div class="favorite-card">
  
      <h2>Mes musiques favorites</h2>
  
      <table mat-table [dataSource]="musicFavorite">
  
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Titre</th>
          <td mat-cell *matCellDef="let music">
            {{ music.title }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Catégorie</th>
  
          <td mat-cell *matCellDef="let music">
            @for(category of music.category; track category.id) {
              <span class="category-badge">
                {{ category.name }}
              </span>
            }
          </td>
        </ng-container>
  
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Durée</th>
          <td mat-cell *matCellDef="let music">
            {{ formatDuration(music.duration) }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef>Taille</th>
          <td mat-cell *matCellDef="let music">
            {{ formatSize(music.size) }} Mo
          </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
  
          <td mat-cell *matCellDef="let music">
  
            <audio
              #audioOption
              [src]="'http://localhost:8000' + music.file">
            </audio>
  
            @if (playingMusicId() === music.id) {
              <button mat-button (click)="stopAudioMusic(audioOption)">
                Stopper
              </button>
            }
            @else {
              <button mat-button (click)="playAudioMusic(audioOption, music.id)">
                Lire
              </button>
            }
  
            <button mat-button (click)="downloadMusic(music.id)">
              Télécharger
            </button>
  
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
  
    </div>
  
  </div>


